<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Boilerplate Testing">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>app</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./.reports/html"/>
        <log type="coverage-clover" target="./.reports/coverage.xml"/>
        <log type="coverage-php" target="./.reports/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout"/>
        <log type="junit" target="./.reports/logfile.xml"/>
        <log type="testdox-html" target="./.reports/testdox.html"/>
        <log type="testdox-text" target="./.reports/testdox.txt"/>
    </logging>
</phpunit>
